@model List<string>

<h2 style="text-align:center; padding-top: 30px">Astronomy Picture of the Day</h2>

<body>
    <div class="apod-container">
        <div class="grid-item grid-item-1"></div>
        <div class="grid-item grid-item-2">
            @if (ViewBag.apod.url != null && (ViewBag.apod.media_type != "image"))
            {
                <iframe width="740" height="416" src="@ViewBag.apod.url" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
            }
            else
            {
                if (ViewBag.apod.url == null)
                {
                    <p style="text-align: center;"> Astronomy Picture of the Day isn't available for this date.</p>
                }
                else
                {
                    <img class="apod-image img-thumbnail" id="apodImage" src="@ViewBag.apod.url" alt="Astronomy Picture of the Day isn't available for this date. '" />
                }

            }

        </div>
        <div class="grid-item grid-item-3">
            <div class="calendar-wrapper" style="text-align: center">
                @{
                    using (Html.BeginForm("Gallery", "Gallery", FormMethod.Post, new { id = "dateForm" }))
                    {
                        <input id="fhaz" name="fhaz" type="hidden" value="@ViewBag.fhaz" />
                        <input id="rhaz" name="rhaz" type="hidden" value="@ViewBag.rhaz" />
                        <input id="navcam" name="navcam" type="hidden" value="@ViewBag.navcam" />
                        <input id="mast" name="mast" type="hidden" value="@ViewBag.mast" />
                        <input id="chemcam" name="chemcam" type="hidden" value="@ViewBag.chemcam" />
                        <input id="mahli" name="mahli" type="hidden" value="@ViewBag.mahli" />
                        <input id="mardi" name="mardi" type="hidden" value="@ViewBag.mardi" />
                        @Html.TextBox("Date", (string)ViewBag.date, new { type = "date", id = "dateInput" })

                    }
                }
            </div>
        </div>
        <div class="grid-item grid-item-4"></div>
        <div class="grid-item grid-item-5" id="gridItem5">
            @if (ViewBag.apod.url != null && (ViewBag.apod.media_type != "image"))
            {
                <p class="apod-desc-video" id="apodDescVideo" style="background-color: #f6d141; color: rgba(0, 0, 0, 0.6);">
                    @ViewBag.apod.explanation
                </p>
            }
            else
            {
                if (ViewBag.apod.url != null)
                {
                    <p class="apod-desc-photo hidden" id="apodDescPhoto" style="background-color: #f6d141; color: rgba(0, 0, 0, 0.6);">
                        @ViewBag.apod.explanation
                        <a id="downloadButton" href="@ViewBag.apod.hdurl" download="HD Astronomy Picture of the Day">Download HD</a>
                    </p>

                }
            }

        </div>
        <div class="grid-item grid-item-6"></div>
    </div>

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0" style="padding-bottom: 30px;">Gallery</h1>
    
    @{
        using (Html.BeginForm("Gallery", "Gallery", FormMethod.Post, new { id = "filterForm" }))
        {
            <input id="date" name="date" type="hidden" value="@ViewBag.date"/>
            <label class="filter" for="camera">
                Camera Filter:
                FHAZ
                @if (ViewBag.fhaz == "on")
                {
                    <input id="fhaz" type="checkbox" name="fhaz" checked value="on" />
                }
                else
                {
                    <input id="fhaz" type="checkbox" name="fhaz" value="on" />
                }

                RHAZ
                @if (ViewBag.rhaz == "on")
                {
                    <input id="rhaz" type="checkbox" name="rhaz" checked value="on" />
                }
                else
                {
                    <input id="rhaz" type="checkbox" name="rhaz" value="on" />
                }

                NAVCAM
                @if (ViewBag.navcam == "on")
                {
                    <input id="navcam" type="checkbox" name="navcam" checked value="on" />
                }
                else
                {
                    <input id="navcam" type="checkbox" name="navcam" value="on" />
                }
                MAST
                @if (ViewBag.mast== "on")
                {
                    <input id="mast" type="checkbox" name="mast" checked value="on" />
                }
                else
                {
                    <input id="mast" type="checkbox" name="mast" value="on" />
                }
                CHEMCAM
                @if (ViewBag.chemcam == "on")
                {
                    <input id="chemcam" type="checkbox" name="chemcam" checked value="on" />
                }
                else
                {
                    <input id="chemcam" type="checkbox" name="chemcam" value="on" />
                }
                MAHLI
                @if (ViewBag.mahli == "on")
                {
                    <input id="mahli" type="checkbox" name="mahli" checked value="on" />
                }
                else
                {
                    <input id="mahli" type="checkbox" name="mahli" value="on" />
                }
                MARDI
                @if (ViewBag.mardi == "on")
                {
                    <input id="mardi" type="checkbox" name="mardi" checked value="on" />
                }
                else
                {
                    <input id="mardi" type="checkbox" name="mardi" value="on" />
                }
            </label>

        }
    }
    
<div class="row text-center text-lg-start" style="padding-left: 30px; padding-right: 30px;">
    @if (Model.Count() == 0)
    {
        <div class="grid-text">

            <p style="text-align:center;">There are no available rover photos for today</p>

        </div>

    }
    @foreach (string url in Model)
    {
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img name="roverCamImage" class="img-fluid img-thumbnail" src="@url" alt="">
            </a>
        </div>
    }
</div>
</body>



